<div id="<%= dom_id supply_cost %>">
  <p>
    <strong>Name:</strong>
    <%= supply_cost.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= supply_cost.value %>
  </p>

  <p>
    <strong>Operation type:</strong>
    <%= supply_cost.operation_type %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= supply_cost.data %>
  </p>

  <p>
    <strong>Supply:</strong>
    <%= supply_cost.supply_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= supply_cost.type %>
  </p>

</div>
