<% if params[:date_range].present? %>
  <h1>Дата: <%= params[:date_range] %></h1>
<% end %>


<%= render partial: 'components/date_range_picker', locals: { path: dashboard_index_path, frame_name: 'dashboard' } %>


<%= turbo_frame_tag 'dashboard' do %>
  <!-- eCommerce statistic -->
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="info"><%= @seles_count %> </h3>
                <h3>Продажи</h3>

                <%= area_chart @stores.last.sales.group_by_day { |u| u.date }.to_h { |k, v| [k, v.count] }, legend: false  %>
              </div>
              <div>
                <i class="icon-basket-loaded info font-large-2 float-right"></i>

              </div>
            </div>
            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
              <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="warning"><%= current_user.orders_count %></h3>
                <h3>Заказы</h3>
              </div>
              <div>
                <i class="icon-pie-chart warning font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
              <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success"><%= current_user.products_count %></h3>
                <h3>Товары</h3>
              </div>
              <div>
                <i class="icon-user-follow success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
              <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="danger">99.89 %</h3>
                <h3>Прибыль</h3>
              </div>
              <div>
                <i class="icon-heart danger font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
              <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ eCommerce statistic -->


  <div id="crypto-stats-3" class="row">
    <% @stores.each do |store| %>
      <div class="col-xl-4 col-lg-6 col-12">
        <div class="card crypto-card-3">
          <div class="card-content">
            <div class="card-body pb-0">
              <div class="d-flex flex-sm-column flex-lg-row">
                <div class="logo pr-2 mr-auto" style="width: 100px ">
                  <%= image_tag image_path("markets/#{store.slug}.png"), width: '100%' %>
                  <!--                            <i class="cc BTC warning font-large-2" title="BTC"></i>-->
                </div>
                <div class="data text-right">
                  <div class="">
                    <h4></h4>
                    <h3 class="">Заказы</h3>
                    <h2><%= store.orders.size %></h2>
                  </div>
                  <div class="">
                    <h4></h4>
                    <h3 class="">Продажи</h3>
                    <h2><%= store.sales.size %></h2>
                  </div>
                  <div class="text-right">
                    <!--                <h2><%#= money(store.orders.sum(&:price)) %></h2>-->
                    <!--                  <h6 class="success darken-4">31% <i class="la la-arrow-up"></i></h6>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas id="btc-chartjs" class="height-75 chartjs-render-monitor" style="display: block; width: 292px; height: 75px;" width="292" height="75"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>


    <% @stores.each do |store| %>
      <%= column_chart [:orders, :sales].map { |event|
        { name: event.to_s, data: store.send(event).group_by_day { |u| u.date }.to_h { |k, v| [k, v.count] } }
      } %>
    <% end %>

    <%= render partial: 'dashboard/recent_events', locals: { stores: @stores } %>
  </div>

  <!-- Products sell and New Orders -->
  <!--/ Products sell and New Orders -->


  <!--Recent Orders & Monthly Sales -->
  <div class="row match-height">
    <div class="col-xl-8 col-lg-12">
      <div class="card" style="">
        <div class="card-content ">
          <div id="cost-revenue" class="height-250 position-relative">
            <div class="chartist-tooltip"></div>
            <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
              <g class="ct-grids"></g>
              <g>
                <g class="ct-series ct-series-a">
                  <path d="M0,250L0,187.5C26.926,195.833,53.852,212.5,80.778,212.5C107.704,212.5,134.63,175,161.556,175C188.481,175,215.407,212.5,242.333,212.5C269.259,212.5,296.185,150,323.111,150C350.037,150,376.963,187.5,403.889,187.5C430.815,187.5,457.741,164.286,484.667,150C511.593,135.714,538.519,100,565.444,100C592.37,100,619.296,162.5,646.222,162.5C673.148,162.5,700.074,104.167,727,75L727,250Z" class="ct-area" style="fill: #28D094; fill-opacity: 0.2"></path>
                  <path d="M0,187.5C26.926,195.833,53.852,212.5,80.778,212.5C107.704,212.5,134.63,175,161.556,175C188.481,175,215.407,212.5,242.333,212.5C269.259,212.5,296.185,150,323.111,150C350.037,150,376.963,187.5,403.889,187.5C430.815,187.5,457.741,164.286,484.667,150C511.593,135.714,538.519,100,565.444,100C592.37,100,619.296,162.5,646.222,162.5C673.148,162.5,700.074,104.167,727,75" class="ct-line" style="fill: transparent; stroke: #28D094; stroke-width: 4px;"></path>
                  <circle cx="0" cy="187.5" r="7" class="ct-area-circle"></circle>
                  <circle cx="80.77777777777777" cy="212.5" r="7" class="ct-area-circle"></circle>
                  <circle cx="161.55555555555554" cy="175" r="7" class="ct-area-circle"></circle>
                  <circle cx="242.33333333333331" cy="212.5" r="7" class="ct-area-circle"></circle>
                  <circle cx="323.1111111111111" cy="150" r="7" class="ct-area-circle"></circle>
                  <circle cx="403.88888888888886" cy="187.5" r="7" class="ct-area-circle"></circle>
                  <circle cx="484.66666666666663" cy="150" r="7" class="ct-area-circle"></circle>
                  <circle cx="565.4444444444443" cy="100" r="7" class="ct-area-circle"></circle>
                  <circle cx="646.2222222222222" cy="162.5" r="7" class="ct-area-circle"></circle>
                  <circle cx="727" cy="75" r="7" class="ct-area-circle"></circle>
                </g>
              </g>
              <g class="ct-labels"></g>
            </svg>
          </div>
        </div>
        <div class="card-footer">
          <div class="row mt-1">
            <div class="col-3 text-center">
              <h6 class="text-muted">Total Products</h6>
              <h2 class="block font-weight-normal">18.6 k</h2>
              <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-3 text-center">
              <h6 class="text-muted">Total Sales</h6>
              <h2 class="block font-weight-normal">64.54 M</h2>
              <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-3 text-center">
              <h6 class="text-muted">Total Cost</h6>
              <h2 class="block font-weight-normal">24.38 B</h2>
              <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-3 text-center">
              <h6 class="text-muted">Total Revenue</h6>
              <h2 class="block font-weight-normal">36.72 M</h2>
              <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card" style="">
        <div class="card-content">
          <div class="card-body sales-growth-chart">
            <div id="monthly-sales" class="height-250" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <svg height="250" version="1.1" width="685" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.65625px; top: -0.765625px;">
                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.3.0</desc>
                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                <text x="42.85546875" y="211" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                </text>
                <path fill="none" stroke="#e4e7ed" d="M55.35546875,211.5H660" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <text x="42.85546875" y="164.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">750</tspan>
                </text>
                <path fill="none" stroke="#e4e7ed" d="M55.35546875,164.5H660" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <text x="42.85546875" y="118" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">1,500</tspan>
                </text>
                <path fill="none" stroke="#e4e7ed" d="M55.35546875,118.5H660" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <text x="42.85546875" y="71.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2,250</tspan>
                </text>
                <path fill="none" stroke="#e4e7ed" d="M55.35546875,71.5H660" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <text x="42.85546875" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">3,000</tspan>
                </text>
                <path fill="none" stroke="#e4e7ed" d="M55.35546875,25.5H660" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                <text x="634.8064778645834" y="223.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Dec</tspan>
                </text>
                <text x="534.0323893229167" y="223.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Oct</tspan>
                </text>
                <text x="433.25830078125" y="223.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Aug</tspan>
                </text>
                <text x="332.4842122395833" y="223.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Jun</tspan>
                </text>
                <text x="231.71012369791666" y="223.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Apr</tspan>
                </text>
                <text x="130.93603515625" y="223.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#bfbfbf" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                  <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Feb</tspan>
                </text>
                <rect x="72.99093424479167" y="97.23" width="15.11611328125" height="113.77" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="123.37797851562502" y="64.928" width="15.11611328125" height="146.072" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="173.76502278645836" y="120.542" width="15.11611328125" height="90.458" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="224.15206705729167" y="131.082" width="15.11611328125" height="79.918" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="274.53911132812505" y="108.886" width="15.11611328125" height="102.114" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="324.92615559895836" y="77.328" width="15.11611328125" height="133.672" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="375.3131998697917" y="97.23" width="15.11611328125" height="113.77" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="425.70024414062505" y="64.928" width="15.11611328125" height="146.072" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="476.08728841145836" y="120.542" width="15.11611328125" height="90.458" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="526.4743326822917" y="131.082" width="15.11611328125" height="79.918" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="576.861376953125" y="108.886" width="15.11611328125" height="102.114" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                <rect x="627.2484212239584" y="77.328" width="15.11611328125" height="133.672" rx="0" ry="0" fill="#ff394f" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
              </svg>
              <div class="morris-hover morris-default-style" style="display: none;"></div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="chart-title mb-1 text-center">
            <h6>Total monthly Sales.</h6>
          </div>
          <div class="chart-stats text-center">
            <a href="#" class="btn btn-sm btn-danger box-shadow-2 mr-1">Statistics <i class="ft-bar-chart"></i></a>
            <span class="text-muted">for the last year.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Recent Orders & Monthly Sales -->

  <!-- Basic Horizontal Timeline -->
  <div class="row match-height">
<!--    <div class="col-xl-4 col-lg-12">-->
<!--      <div class="card" style="">-->
<!--        <div class="card-header">-->
<!--          <h4 class="card-title">Basic Card</h4>-->
<!--        </div>-->
<!--        <div class="card-content">-->
<!--          <img class="img-fluid" src="../../../app-assets/images/carousel/05.jpg" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--              card's content.</p>-->
<!--            <a href="#" class="card-link">Card link</a>-->
<!--            <a href="#" class="card-link">Another link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">-->
<!--          <span class="float-left">3 hours ago</span>-->
<!--          <span class="float-right">-->
<!--                                    <a href="#" class="card-link">Read More <i class="fa fa-angle-right"></i></a>-->
<!--                                </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-xl-8 col-lg-12">-->
<!--      <div class="card" style="">-->
<!--        <div class="card-header">-->
<!--          <h4 class="card-title">Horizontal Timeline</h4>-->
<!--          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>-->
<!--          <div class="heading-elements">-->
<!--            <ul class="list-inline mb-0">-->
<!--              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card-content">-->
<!--          <div class="card-body">-->
<!--            <div class="card-text">-->
<!--              <section class="cd-horizontal-timeline loaded">-->
<!--                <div class="timeline">-->
<!--                  <div class="events-wrapper">-->
<!--                    <div class="events" style="width: 1140px;">-->
<!--                      <ol>-->
<!--                        <li><a href="#0" data-date="16/01/2015" class="selected" style="left: 120px;">16 Jan</a>-->
<!--                        </li>-->
<!--                        <li><a href="#0" data-date="28/02/2015" style="left: 300px;">28 Feb</a></li>-->
<!--                        <li><a href="#0" data-date="20/04/2015" style="left: 480px;">20 Mar</a></li>-->
<!--                        <li><a href="#0" data-date="20/05/2015" style="left: 600px;">20 May</a></li>-->
<!--                        <li><a href="#0" data-date="09/07/2015" style="left: 780px;">09 Jul</a></li>-->
<!--                        <li><a href="#0" data-date="30/08/2015" style="left: 960px;">30 Aug</a></li>-->
<!--                        <li><a href="#0" data-date="15/09/2015" style="left: 1020px;">15 Sep</a></li>-->
<!--                      </ol>-->
<!--                      <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.127926);"></span>-->
<!--                    </div>-->
<!--                    <!-- .events -->-->
<!--                  </div>-->
<!--                  <!-- .events-wrapper -->-->
<!--                  <ul class="cd-timeline-navigation">-->
<!--                    <li><a href="#0" class="prev inactive">Prev</a></li>-->
<!--                    <li><a href="#0" class="next">Next</a></li>-->
<!--                  </ul>-->
<!--                  <!-- .cd-timeline-navigation -->-->
<!--                </div>-->
<!--                <!-- .timeline -->-->
<!--                <div class="events-content">-->
<!--                  <ol>-->
<!--                    <li class="selected" data-date="16/01/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-5.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                    <li data-date="28/02/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                    <li data-date="20/04/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                    <li data-date="20/05/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-8.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                    <li data-date="09/07/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-9.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                    <li data-date="30/08/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                    <li data-date="15/09/2015">-->
<!--                      <blockquote class="blockquote border-0">-->
<!--                        <div class="media">-->
<!--                          <div class="media-left">-->
<!--                            <img class="media-object img-xl mr-1" src="../../../app-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image">-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            Sometimes life is going to hit you in the head with a brick. Don't lose faith.-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <footer class="blockquote-footer text-right">Steve Jobs-->
<!--                          <cite title="Source Title">Entrepreneur</cite>-->
<!--                        </footer>-->
<!--                      </blockquote>-->
<!--                      <p class="lead mt-2">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit-->
<!--                        recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at.-->
<!--                      </p>-->
<!--                    </li>-->
<!--                  </ol>-->
<!--                </div>-->
<!--                 .events-content -->
<!--              </section>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <!--/ Basic Horizontal Timeline -->
<% end %>
