<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="nav-item has-sub menu-collapsed-open open">
        <a href="/"><i class="la la-home"></i><span class="menu-title" data-i18n="Dashboard">Мои магазины</span>
<!--          <span class="badge badge badge-info badge-pill float-right mr-2"><%#= current_user.stores.count %></span>-->
        </a>
        <ul class="menu-content">
          <li class="active">
            <a class="menu-item" href="<%= stores_path %>"><i></i><span data-i18n="eCommerce">Все</span></a>
          </li>
          <% current_user.stores.each do |store| %>
            <li>
              <a class="menu-item" href="<%= store_path(store) %>"><i></i><span data-i18n="Crypto"><%= store.name %></span></a>
            </li>

          <% end %>
          <!--              <li><a class="menu-item" href="dashboard-sales.html"><i></i><span data-i18n="Sales">Заказы</span></a>-->
          <!--              </li>-->
        </ul>
      </li>

<!--      <li class="navigation-header">-->
<!--        <span>ТОвары</span>-->
<!--        <i class="la la-ellipsis-h" data-toggle="tooltip" data-placement="right" data-original-title="Admin Panels"></i>-->
<!--      </li>-->

      <li class="">
        <a href="<%= products_path %>">
          <i class="la la-cube"></i>
          <span class="menu-title" data-i18n="Dashboard">Товары</span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= current_user.stores.last.products.count %></span></a>
      </li>

      <li class="">
        <a href="<%= supplies_path %>">
          <i class="la la-archive"></i>
          <span class="menu-title" data-i18n="Dashboard">Поставки</span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= current_user.supplies.count %></span></a>
      </li>

      <li class="navigation-header">
        <span>Поддержка</span>
        <i class="la la-info" data-toggle="tooltip" data-placement="right" data-original-title="Admin Panels"></i>
      </li>

      <li class="nav-item">
        <a href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/documentation" target="_blank">
          <i class="la la-info"></i><span class="menu-title" data-i18n="Documentation">Инструкции</span></a>
      </li>
    </ul>
  </div>
</div>
