<h1>Supply Products</h1>

<dl>
  <dt>Product:</dt>
  <dd><%= @supply_product.product %></dd>
  <dt>Supply:</dt>
  <dd><%= @supply_product.supply %></dd>
  <dt>Count:</dt>
  <dd><%= @supply_product.count %></dd>
</dl>
<%= link_to 'Edit', edit_supply_product_path(@supply_product) %> |
<%= link_to 'Back', supply_products_path %>
