<div class="card">
<h1>Магазин <%= @store.requests.last.data['name'] %></h1>

<dl>
  <dt>Владелец</dt>
  <dd>  <%= @store.requests.last.data['ip'] %>  </dd>

  <dt>Отзывы</dt>
  <dd> <%= @store.requests.last.data['reviews'] %>  </dd>
  <dt>Количество продаж</dt>
  <dd> <%= @store.requests.last.data['sells_count'] %>  </dd>
</dl>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
</div>