<div id="<%= dom_id cost %>">
  <p>
    <strong>Orderd:</strong>
    <%= cost.orderd_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= cost.data %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= cost.date %>
  </p>

  <p>
    <strong>Import:</strong>
    <%= cost.import_id %>
  </p>

</div>
