<h1>Unit Economics</h1>

<dl>
  <dt>Supply:</dt>
  <dd><%= @unit_economic.supply %></dd>
  <dt>Data:</dt>
  <dd><%= @unit_economic.data %></dd>
  <dt>Date:</dt>
  <dd><%= @unit_economic.date %></dd>
</dl>
<%= link_to 'Edit', edit_unit_economic_path(@unit_economic) %> |
<%= link_to 'Back', unit_economics_path %>
