<h1>Imports</h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%=  import.id %></td>
        <td><%=  import.created_at %></td>
        <td><%=  import.products.count %></td>
        <td><%= link_to 'Show', market_campaign_import_path(import.campaign.market, import.campaign, import) %></td>
        <td><%= link_to 'Destroy', market_campaign_import_path(import.campaign.market, import.campaign, import), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= link_to 'New Import', new_market_campaign_import_path %>
