<h1>Orders</h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Api data</th>
      <th scope="col">Excel data</th>
      <th scope="col">Date</th>
      <th scope="col">Import</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.api_data %></td>
        <td><%= order.excel_data %></td>
        <td><%= order.date %></td>
        <td><%= order.import_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Order', new_order_path %>
