<h1>Markets</h1>

<dl>
  <dt>Slug:</dt>
  <dd><%= @market.slug %></dd>
</dl>


<dl>
  <dt>Компании</dt>
  <dd>
    <% @market.campaigns.each do |campaign| %>
      <%= campaign.id %>
      <%= campaign.number %>
      <%= campaign.token %>

      <%= link_to 'Edit', edit_market_campaign_path(@market, campaign) %> |

    <% end %>
  </dd>
</dl>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
