<div id="<%= dom_id campaign %>">
  <p>
    <strong>Name:</strong>
    <%= campaign.name %>
  </p>

  <p>
    <strong>Номер:</strong>
    <%= campaign.number %>
  </p>


  <p>
    <strong>Token:</strong>
    <%= campaign.token %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= campaign.data %>
  </p>

</div>
