<% content_for(:title, 'Товары') %>

<%= content_for :header_button do %>
  <%= link_to 'Новый товар ', new_product_path, class: "btn btn-primary" %>
<% end %>

<div></div>

<div class="card">
  <table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">Штрих-код</th>
      <th scope="col">Розничная цена</th>
      <th colspan="3" scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <% products.each do |product| %>

      <%# if product.stock.present? && product.stock.present? %>
      <tr class="<%= product.stock_quantity ? '' : '' %>">
        <td class="">
          <% product.photos.first(1).each do |photo| %>
            <%= image_tag photo.image_url if photo.image_url.present? %>
          <% end %>
        </td>
        <td class="">
          <%= link_to product.title, product_path(product) %>
        </td>
        <td><%= product.barcode %></td>
        <td><%= product.price %></td>
        <!--        <td><%#= link_to, product, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Уверены?' } %></td>-->
<!--        <td><%#= button_to icon('trash'), product, method: :delete %></td>-->
        <!--      <td><%#= link_to 'Show', market_campaign_product_path(product.campaign.market, product.campaign.number, product) %></td>-->
        <!--      <td><%#= link_to 'Edit', edit_market_campaign_product_path(product.campaign.market, product.campaign.number, product) %></td>-->
        <!--      <td><%#= link_to 'Destroy', market_campaign_product_path(product.campaign.market, product.campaign.number, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

