<div id="<%= dom_id order %>">
  <p>
    <strong>Api data:</strong>
    <%= order.api_data %>
  </p>

  <p>
    <strong>Excel data:</strong>
    <%= order.excel_data %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Import:</strong>
    <%= order.import_id %>
  </p>

</div>
