<!DOCTYPE html>
<html>
<head>
  <title>MarketAnalytics</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="turbo-cache-control" content="no-cache">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <%= javascript_importmap_tags %>
  <%= javascript_import_module_tag("utils") %>
</head>

<!-- BEGIN: Content-->
<body data-controller="animations" data-turbo-progres class="<%= "#{controller.controller_name} #{controller.action_name}" %>
      vertical-layout vertical-menu-modern 2-columns fixed-navbar pace-done  animate__swing">

<div class="pace  pace-inactive">
  <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div>
</div>
<!-- Navbar -->
<%= render partial: 'components/header' %>
<!-- End Navbar -->
<%= render partial: 'components/sidebar' %>


<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">

    <!-- BEGIN: Main Menu-->
    <!-- BEGIN: Sidebar-->
    <!-- END: Sidebar-->
    <!-- END: Main Menu-->

    <div class="content-body">
      <div class="container">
        <%= render partial: 'components/breadcrumb' %>

        <%= yield %>
      </div>
    </div>

  </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>


<script>


  $('.select2').select2({
    theme: 'bootstrap4',
    templateResult: addUserPic,
    templateSelection: addUserPic
  });


  function addUserPic(opt) {
    if (!opt.id) {
      return opt.text;
    }
    var optimage = $(opt.element).data('image');
    if (!optimage) {
      return opt.text;
    } else {

      var $opt = $(
        '<span class="userName"><img width="32px" src="' + optimage + '" class="userPic" /> ' + $(opt.element).text() + '</span>'
      );
      return $opt;
    }
  }
</script>


</html>
